<section class="bg-main-light shadow p-5 mt-5 rounded-4">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-6">
      <img
        src="./assets/images/resetpassword.png"
        class="w-100 rounded-4"
        alt="resetpassword-logo"
      />
    </div>
    <div class="col-md-6">
      <h1 class="text-main fw-bold">
        {{ "forgotPassword.please enter your Email" | translate }}
      </h1>
      <form [formGroup]="verifyEmail" (ngSubmit)="forgotPasswordSub()">
        <div class="my-3">
          <label for="email"> {{ "forgotPassword.Email" | translate }} :</label>
          <input
            [ngClass]="{
              'is-valid':
                !verifyEmail.get('email')?.errors &&
                (verifyEmail.get('email')?.touched ||
                  verifyEmail.get('email')?.dirty),
              'is-invalid':
                verifyEmail.get('email')?.errors &&
                (verifyEmail.get('email')?.touched ||
                  verifyEmail.get('email')?.dirty)
            }"
            formControlName="email"
            id="email"
            class="form-control"
            type="email"
            placeholder="Email"
            dir="auto"
          />

          @if (verifyEmail.get('email')?.errors &&
          (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
          ) {
          <div class="alert alert-danger">
            @if (verifyEmail.get('email')?.getError('required') ) {

            <p class="m-0">{{ "forgotPassword.Email Required" | translate }}</p>
            } @else if (verifyEmail.get('email')?.getError('email')) {

            <p class="m-0">
              {{ "forgotPassword.Enter Valid Email" | translate }}
            </p>
            }
          </div>
          }
        </div>
        <button
          [disabled]="verifyEmail.invalid"
          class="btn-main d-block ms-auto rounded-4 my-2"
        >
          {{ "forgotPassword.Verify Email" | translate }}
        </button>
      </form>
    </div>
  </div>
</section>
