.btn-close:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}

@media (max-width: 500px) {
  .modal-body {
    flex-direction: column;
  }
  .details {
    text-align: center;
  }
}
