<section class="container p-5 my-5">
  <div>
    <img routerLink="/home" src="./assets/images/freshcart-logo.svg" class="c-p" alt="freshcart-logo" />
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <div>
        <h1 class="fw-bold">Something’s wrong here…</h1>
        <p class="small">
          We can’t find the page you’re looking for. <br />
          Check out our help center or head back to home.
        </p>
        <button class="btn bg-black text-white px-4 py-2 me-3">
          Help Center
        </button>
        <button routerLink="/home" class="btn-main">Back to Home</button>
      </div>
    </div>

    <div class="col-md-5">
      <div>
        <img
          src="./assets/images/error.svg"
          class="w-100"
          alt="Not-found-page"
        />
      </div>
    </div>
  </div>
</section>
