<section class="mt-5">
  <div class="row g-0">
    <div class="col-12 col-md-10">
      <div>
        <owl-carousel-o [options]="customOptionsMain">
          <ng-template carouselSlide>
            <img
              src="./assets/images/slider-image-1.jpeg"
              height="400px"
              class="w-100"
              alt="slider-image-1"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="./assets/images/slider-image-2.jpeg"
              height="400px"
              class="w-100"
              alt="slider-image-2"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="./assets/images/slider-image-3.jpeg"
              height="400px"
              class="w-100"
              alt="slider-image-3"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="./assets/images/slider-2.jpeg"
              height="400px"
              class="w-100"
              alt="slider-image-3"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="./assets/images/banner-4.jpeg"
              height="400px"
              class="w-100"
              alt="slider-image-3"
            />
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="d-none d-md-block col-md-2">
      <div>
        <img
          src="./assets/images/grocery-banner.png"
          height="200px"
          class="w-100"
          alt="grocery-banner"
        />
        <img
          src="./assets/images/grocery-banner-2.jpeg"
          height="200px"
          class="w-100"
          alt="grocery-banner-2"
        />
      </div>
    </div>
  </div>
</section>
