.form-control:focus {
  box-shadow: 5px 5px var(--main-color);
  border-color: var(--main-color);
}

::placeholder {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  button {
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1025px) {
  .row {
    display: flex;
    flex-direction: row-reverse;
  }
  h1 {
    font-size: 1.875rem;
  }
  button {
    width: 100%;
  }
}
