<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow">
  <div class="container-fluid">
    <div class="parent d-flex align-items-center justify-content-between w-100">
      <div class="logo d-flex flex-row-reverse gap-3">
        <a class="navbar-brand" routerLink="login">
          <img
            src="./assets/images/freshcart-logo.svg"
            class="w-100"
            alt="fresh-cart-logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span><i class="fa-solid fa-bars fa-1x"></i></span>
        </button>
      </div>

      <div class="auth d-flex align-items-center gap-3">
        <li class="nav-item dropdown list-unstyled">
          <a
            class="nav-link dropdown-toggle uer-info"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="fs-6 fw-bold"> {{ "navbar.lang" | translate }}</span>
          </a>
          <ul class="dropdown-menu">
            <li
              [class.bg-info]="_TranslateService.currentLang == 'en'"
              (click)="change('en')"
            >
              <a class="dropdown-item c-p"> {{ "navbar.EN" | translate }} </a>
            </li>
            <li
              [class.bg-info]="_TranslateService.currentLang == 'ar'"
              (click)="change('ar')"
            >
              <a class="dropdown-item c-p"> {{ "navbar.AR" | translate }} </a>
            </li>
          </ul>
        </li>

        <a routerLinkActive="btn-nav" routerLink="login">
          {{ "auth.Sign In" | translate }}
        </a>
        <a routerLinkActive="btn-nav" routerLink="register">
          {{ "auth.Sign Up" | translate }}
        </a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="nav-menu d-flex align-items-center gap-3 mx-4">
        <i class="fa-brands fa-instagram c-p"></i>
        <i class="fa-brands fa-facebook c-p"></i>
        <i class="fa-brands fa-tiktok c-p"></i>
        <i class="fa-brands fa-twitter c-p"></i>
        <i class="fa-brands fa-linkedin c-p"></i>
        <i class="fa-brands fa-youtube c-p"></i>
      </div>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>
</nav>
